[Desktop Entry]
Name=WMToolHelper
GenericName=WMToolHelper
Comment=WMToolHelper By HYH
Exec=WMToolHelper
Icon=WMToolHelper
Type=Application
Categories=System;X11;
